.header {
    background: #151515;
    padding: 10px 0px;
 
}
.header__container{
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
}
.header__logo {
    font-family: 'Playfair Display', serif;
    color: white;
    font-weight: 700;
    font-size: 30px;
}

